[submodule "Tweaks/YouQuality"]
	path = Tweaks/YouQuality
	url = https://github.com/PoomSmart/YouQuality.git
	branch = main
[submodule "Tweaks/YTVideoOverlay"]
	path = Tweaks/YTVideoOverlay
	url = https://github.com/PoomSmart/YTVideoOverlay.git
	branch = main
[submodule "Tweaks/YouTubeHeader"]
	path = Tweaks/YouTubeHeader
	url = https://github.com/PoomSmart/YouTubeHeader.git
	branch = main
[submodule "Extensions"]
	path = Extensions
	url = https://github.com/CokePokes/YoutubeExtensions.git
	branch = main
[submodule "Tweaks/iSponsorBlock"]
	path = Tweaks/iSponsorBlock
	url = https://github.com/Galactic-Dev/iSponsorBlock.git
	branch = master
[submodule "Tweaks/YTClassicVideoQuality"]
	path = Tweaks/YTClassicVideoQuality
	url = https://github.com/PoomSmart/YTClassicVideoQuality.git
[submodule "Tweaks/PSHeader"]
	path = Tweaks/PSHeader
	url = https://github.com/PoomSmart/PSHeader.git
